@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #454545;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

h1 {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form input,
form button {
  outline: none;
}

form button {
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
}

form button:hover {
  background: #d88771;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.25rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}

.complete-btn {
  background: rgb(77, 230, 77);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: '\25BC';
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.5s ease;
}

.select:hover::after {
  background: white;
  color: #ff6f47;
}

.import-file {
  position: absolute;
  width: 30%;
  margin: 0 auto;
  margin-top: 10rem;
  padding: -50px;
  left: 35%;
}

.display-none {
  display: none;
}

@media all and (max-width: 768px) {
  * {
    overflow: auto;
  }

  select {
    display: none;
  }

  form input {
    font-size: 1rem;
  }

  form button {
    display: none;
  }

  .todo-input {
    margin: auto;
    padding: 1rem;
  }

  .todo-list {
    min-width: 90%;
    background-repeat: no-repeat;
  }

  .todo-item {
    font-size: 0.9rem;
  }

  .import-file {
    width: 90%;
  }
}